*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}
.footer{
    padding: 32px 40px 40px 40px;
    background-color: #E4F7D2;
    
}
.container__footer{
    max-width: 1170px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    font-size: 14px;
    font-family: roboto;
    color: #625F5F;
}

.row1{
    /* min-height: 110px;
    max-height: 120px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.input__form{
    display: flex;
    flex-wrap: nowrap;
    height: max-content;
}
.row1 h3{
    font-weight: bold;
    color: #96CB65;
    font-size: 20px;
    margin: 20px 40px 32px 30px  ;
    letter-spacing: 1px;
}
.row1 input{
    min-width: 600px;
    max-width: 700px;
    margin-right: 20px;
    height: 58px;
    border-radius: 5px;
    border:none;
    padding-left: 15px;

}
.submit{
    margin: 0px ;
    max-width:160px ;
    min-width: 150px;
    height: 58px;
    border-radius: 5px;
    border:none;
    background-color: #96CB65;
    color: white;

}
.submit > p{
    font-weight: bold;
    font-size: 17px;
}

.container__footer hr{
    width: 100%;
    border: 2px solid rgb(255, 255, 255);
}
.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__col h2{
    color: #96CB65;
    margin: 0px;
}
.footer__col:nth-child(1){
    flex: 1;
    padding: 0 30px;
    /* margin: 49px 129px 92px 98px ; */
    margin-top: 40px;

}
.footer__col:nth-child(2){
    flex: 1;
    padding: 0 30px;
    margin-top: 55px;


}
.footer__col:nth-child(3){
    flex: 0.5;
    padding: 0 30px;
    margin-top: 55px;
}
.footer__col:nth-child(4){
    display: flex;
    flex-direction: column;
    flex: 1.5;
    padding: 0 30px;
    margin-top: 55px;

}
.link{
    display: flex;
}
.item1>img{
    height: 5rem;
    width: 5rem;
    margin-right: 10px;
}
.item2{
    display: flex;
    flex-direction: column;
}
.item2>img{
    margin-bottom: 10px;
    height: 1.5rem;
    width: 4.25rem;
}


.footer__col > img{
    width: 200px;
    height: 48px;
}


.footer__col ul{
    padding: 0px;
}
.footer__col li{
    margin: 16px 0px;
}

/* Tablet */
@media (min-width:768px ) and (max-width:1020px){
    .row1{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row1 h3{
        margin: 10px;
    }
    .row1 input{
       min-width: 500px;
       max-width: 550px;

    } 
    .input__form{
        margin: 10px;
    }
    .row2{
        display: flex;
        flex-direction: column;
    }
    .footer__col:nth-child(1) {
        margin: 15px 0px;
    }
    .footer__col:nth-child(2) {
        margin: 15px 0px;
    }
    .footer__col:nth-child(3) {
        margin: 15px 0px;
    }
    .footer__col:nth-child(4) {
        margin: 15px 0px;
    }
    .link{
        margin-top: 16px;
    }
}
/* mobile */
@media (max-width:768px){
    .footer{
        padding-left: 20px;
    }
    .row1{
        display: none;
    }
    hr{
        display: none;
    }
    .row2{
        display: flex;
        flex-direction: column;
    }
    .footer__col:nth-child(1) {
        margin: 10px 0px;
    }
    .footer__col:nth-child(2) {
        margin: 10px 0px;
    }
    .footer__col:nth-child(3) {
        margin: 10px 0px;
    }
    .footer__col:nth-child(4) {
        margin: 10px 0px;
    }
    .link{
        margin-top: 16px;
    }
    


}

