<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi tiết sản phẩm</title>
    <link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://www.w3schools.com/lib/w3.js"></script>

    <!--Boostrap css -->
    <link rel="stylesheet" type="text/css" href="../css/libs/bootstrap.min.css">

    <link rel="stylesheet" href="../css/home.css">

    <link rel="stylesheet" href="../css/productdetail.css">

    <link rel="stylesheet" href="../css/product.css">

    <link rel="stylesheet" href="../css/payment.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js?fbclid=IwAR08_prufY-iqEwc4vj1AH9zaGtEQE8BUcawjBQlvBYWNWNHI_JaxzGpH30"></script>

    <script type="text/javascript" src="../javascript/render-products.js"></script>

    <script type="text/javascript" src="../javascript/dirPagination.js"></script>

</head>

<body ng-app="AngularApp" ng-controller="DetailController" style="font-family: quicksand, sans-serif;">
    <!-- topbar -->
    <div w3-include-html="topbar.html"></div>

    <!-- header -->
    <div w3-include-html="header.html"></div>

    <!-- navbar -->
    <div w3-include-html="navbar.html" class="sticky"></div>

    <div class="container">
        <div class="container--information">
            <div>
                <div class="row">
                    <div class="col-lg-4">
                        <img class="card--1" src="{{selectProduct.icon_url}}">
                    </div>
                    <div class="col-lg-8">
                        <div><b>{{selectProduct.name}}</b></div>
                        <div>Danh mục: {{selectProduct.category}}</div>
                        <div>Mã: {{selectProduct.id}}</div>
                        <hr>
                        <div>Giá: {{selectProduct.price}}₫</div>
                        <hr>
                        <div class="quantity-container">
                            <ul class="pagination">
                                <li class="page-item">
                                    <button onclick="decreaseNumber()" class="page-link">
                                        <i class="fas fa-minus"></i> 
                                    </button>
                                </li>
                                <li class="page-item">
                                    <input name="quantity" value="1" class="page-link" id="quantity">
                                </li>
                                <li class="page-item">
                                    <button class="page-link" onclick="increaseNumber()">
                                        <i class="fas fa-plus"></i> 
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <div class="quantity-container distance row">
                            <div class="col-10">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <button ng-click="add_cart(selectProduct)" class="page-link">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Thêm vào giỏ hàng
                                    </button>
                                    </li>
                                    <li class="page-item">
                                        <button class="page-link" onclick="">
                                        <a href="payment.html">
                                            <span class="font--color1">Mua ngay</span> 
                                        </a>
                                    </button>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <button class="button--cart" onclick="openForm()">
                                    <img class="icon" src="../img/icon/bag.png">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-popup" id="myForm">
                    <form class="form-container">
                        <div class="container">
                            <div>
                                <h4>Giỏ hàng</h4>
                            </div>
                            <div>
                                <div class="row" ng-repeat="cart in carts" ng-init="setTotals(cart)">
                                    <div class="col-8">{{cart.name}}</div>
                                    <div class="col-3">{{cart.price}}.000₫</div>
                                    <div><button class="button--cancel" type="button" ng-click="remove_cart(cart)"><span>X</span></button></div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-9">Total</div>
                                    <div class="col-3">{{total}}.000₫</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-cancel" onclick="closeForm()">Quay lại</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-cancel">
                                    <a href="payment.html" class="pm"><span class="font--color2 ">Thanh toán</span></a>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="container--information">
                    <h6> <b>MÔ TẢ SẢN PHẨM</b></h6>
                    <hr>
                    <p>
                        Cốc nhựa hokori được làm từ chất liệu nhựa việt nhật cao cấp, an toàn cho người sử dụng, không mùi nhựa, dễ dàng vệ sinh cọ rửa. Cốc nhựa có thể chịu nhiệt độ cao lên tới 120 độ C, cứng và khó vỡ khi va đập mạnh. Miệng cốc được thiết kế tỉ mỉ, miệng cốc
                        nhẵn mịn tạo cảm giác thoải mái khi uống nước. Thiết kế độc đáo có hình chú hươu ở bề mặt nổi bật .Cốc có quai tay cầm chống trượt giúp cầm nắm dễ dàng chỉ với một tay <br> Tác dụng: Được sử dụng làm cốc
                        uống nước, sử dụng và trang trí trong gia đình, văn phòng làm việc ngoài ra bạn có thể sử dụng cốc đựng nước khi đánh răng, cắm bàn chải, kem đánh răng Giúp nhà tắm luôn gọn gàng. <br> THÔNG TIN CHI TIẾT: <br> - Chất liệu : Nhựa
                        PP <br> - Kích thước : 8.8 x 8.8 cm <br> - Màu sắc : Trắng,hồng,xanh <br> - Sản xuất : Nhựa Việt Nhật chất <br> – Hàng VN chất lượng cao
                    </p>
                </div>
            </div>
        </div>
        <div class="container home-bestseller">
            <h5>#BESTSELLER</h5>
            <div class="row">
                <div ng-repeat="p in products | limitTo : 150 | filter:bs" class="col-12 col-sm-4 col-md-3 col-lg-2dot4 col-xl-2">
                    <a href="productdetail.html?productID={{p.name}}" style="text-decoration: none;">
                        <div class="card bestseller--item">
                            <div class="card-img-container">
                                <img src="{{p.icon_url}}" class="card-img-top bestseller--item-img">
                            </div>
                            <div class="card-body bestseller--item-content">
                                <p class="card-text bestseller--item-name">{{p.name}}</p>
                                <p class="card-text bestseller--item-price">{{p.price}}₫</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div w3-include-html="footer.html "></div>

    <script>
        w3.includeHTML()
    </script>
    <script src="../javascript/search.js "></script>
    </div>
</body>

</html>