html,
body {
  margin: 0px;
  padding: 0px;
}
.header {
  height: 80px;
  background-color: #e4f7d2;
  margin: 0px;
  display: flex;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 1200px;
  margin: 0px 24px;
}
.header__logo {
  width: 250px;
  float: left;
}
.header__logo > img {
  width: 200px;
}
.header__search {
  display: flex;
  flex: 1;
  background-color: white;
  height: 48px;
  margin: 8px 0px;
  border-radius: 5px;

}
.input__search{
  width: 100%;
  border: none;
  border-radius: 5px 0px 0px 5px ;
  padding: 0px 16px;
}
.btn_search{
  width: 8rem;
  border-radius: 0px 5px 5px 0px ;
  outline: none;
  border: none;
  background-color: #96cb65;

}
.btn_search>a{
  font-size: 1.2rem;
  color: white;
}
.header__cart {
  width: 85px;
  text-align: center;
}
.header__cart-btn {
  background-color: #e4f7d2;
  width: 70px;
  height: 40px;
  border: none;
  margin: 12px 0px 8px 0px;
}
.header__cart-btn > a {
  font-size: 24px;
  color: #96cb65;
}
.header__regis {
  width: 120px;
  float: right;
  text-align: center;
}
.header__regis>input{
  width: 120px;
  max-width: 100%;
  height: 48px;
  margin: 8px 0px;
  background-color: #96cb65;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
}
@media (max-width:744px){
.container{
  display: flex;
  flex-direction: column;
}
  
}

