html,
body {
    font-family: quicksand;
    font-size: 14px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 99;
}

.page1 {
    display: flex;
    justify-content: center;
}

.navpro {
    margin-top: 35px;
    margin-left: -10px;
}

.nav-link-pro {
    margin-left: 0;
    font-size: 14px !important;
    font-weight: lighter !important;
}

.fa-angle-down {
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.55);
}

.dropdown-content-pro {
    min-width: 200px !important;
    margin-left: 5px !important;
}

.dropdown-content-pro li {
    padding-left: 0 !important;
}


/* products */

.bestseller--item {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 230px;
    display: block;
    transition: all .1s ease;
}

.bestseller--item:hover {
    transform: scale(1.025);
}

.bestseller--item-content p {
    color: rgba(0, 0, 0, 0.75);
    margin-bottom: 0.4rem;
}

.bestseller--item-name {
    font-weight: bold;
}

.bestseller--item img {
    width: 100%;
    height: 135px;
}

@media (max-width: 575px) {
    .bestseller--item {
        flex-direction: row !important;
        height: 8rem;
    }
    .card-img-container img {
        width: 9rem !important;
        height: 100%;
    }
}